body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.monserrat-font{
  font-family: 'Montserrat', sans-serif;
}

.mainall{
  background-color: #b3b3ff;
}

.imagesMisionVision{
  max-width: 100%;
  height: auto;
}

.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.intro{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.cursos{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 20px;
}